{
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": "error",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "eqeqeq": "error",
    "quotes": ["warn", "single"]
  }
}
